html, body{
    margin : 0 ;
    padding : 0 ;
}

body {
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
    color: rgb(26, 26, 26);
}

a{
    text-decoration: none;
}

nav {
    max-width: 1216px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.nav-wrap {
    display: flex;
    width: calc(100% - 40px);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    cursor : pointer;
}

div.all-menu {
    align-items: center;
    width : 140px;
}

div.all-menu p{
    display: flex;
    float: left;
}

div.all-menu span {
    margin-bottom: 3px;
    margin-left: 2px;
    line-height: 53px;
}

div.all-menu-below{
    position : absolute;
    clear:both;
    width : 140px;
    background-color: white;
    position: relative;
}

.below-div{
    clear : both;
    visibility: hidden;
    width : 160px;
    position: absolute;
    z-index: 2000;
    border :1px rgb(102, 102, 102) solid;
}

.toggle{
    visibility : visible;
    background-color: white;
}

.child-wrap{
    width:160px;
    height : 40px;
}

.child-wrap:hover {
    background-color: #E5E5E5;
}

.white:hover{
    background-color: white;
}

div.below-child{
    width:135px;
    height : 40px;
    line-height: 40px;
    margin: 0;
    margin-left: 20px;
}

div.cate-top{
    width : 140px;
    font-size: 0.6875rem;
    font-weight: 700;
    color :rgb(162, 162, 162);
}

div.cate-bottom{
    width : 140px;
    font-size: 0.875rem;
    font-weight: 700;
    color: rgb(26, 26, 26);
}

div.other-menu{
    display : flex;
}

div.other-menu a {
    text-decoration: none;
    color : #1A1A1A;
}

section{
    width : 1176px;
    margin-left: auto;
    margin-right: auto;
}

.latelyUpdate{
    margin-top: 50px;
    width: 1216px;
    margin-left: auto;
    margin-right: auto;
}

.latelyUpdate p.title{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.4px;
    color: rgb(26, 26, 26);
    margin: 0 0 18px 0;
}

.latelyClass-container {
    width : 1216px;
}

.class-cell{
    width : 276px;
    margin : 24px;
}

ul.class-list {
    clear: both;
    overflow: hidden;
    list-style: none;
    display : flex;
    flex-wrap: wrap;
    place-content: stretch flex-start;
    margin: 0px -12px -32px;
    padding: 0px;
    justify-content: space-around;
}

ul.class-list li {
    width : 25%;
    margin : 15px 0;
}

div.thumb-pic {
    width : 276px;
    height : 207px;
    position : relative;
    
}

div.thumb-pic img {
    width : 100%;
    height : 100%;
    border-radius: 3px;
}

div.thumb-pic span svg {
    position : absolute;
    top : 10px;
    right : 10px;
    cursor:pointer;
}

.red-color{
    fill:#FD3049;
}


span.coupon-mark {
    position : absolute;
    top : 11px;
    left : 10px;
    width :67px;
    height : 23px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
    border-radius: 2px;
}

span.magenta-back{
    background-color: rgb(255, 0, 122);
}

p.creator-name {
    text-align: left;
    font-size: 11px;
    font-weight: 700;
    margin : 7px 0;
}

p.class-name {
    text-align: left;
    font-size : 14px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
    margin: -3px 0px -9px 0;
}

div.good-icon {
    width:100%;
    display: flex;
    align-items: center;
    margin : 0;
    padding : 0;
}

div.good-child {
    display: flex;
    align-items: center;
    margin : 0 5px 0 0;
    padding : 0;
    width : 50px;
}

div.good-icon p{
    color:rgb(162, 162, 162);
    font-size: 11px;
    margin: 0 0 0 1px;
    padding : 0;
}

div.linediv {
    background-color: #F8F8F8;
    width: 100%;
    height: 1px;
    margin: 6px 0;
}

div.price-wrap {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

div.price-wrap p{
    margin: 0 4px 0 0 ;
    font-size: 0.8125rem;
}

p.per{
    color: #FD3049;
    font-weight: 700;
}

p.price {
    font-size: 0.8125rem;
    font-weight: 700;
    color: #1A1A1A;
}

p.period {
    font-size: 0.6875rem;
    font-weight: 400;
    color: #A2A2A2;
}

.middleRoll{
    width: 1176px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top : 60px;
    margin-bottom : 60px;
}

.rollContainer{
    width : 1176px;
    height : 150px;
    overflow: hidden;
}

.roll-hidden{
    width : 2976px;
    display: flex;
    float: left;
}

.middleChild{
    width : 576px;
    height: 150px;
    margin-right: 24px;
}

.swipe-btn{
    border-style: none;
    background: transparent;
    cursor: pointer;
    position : absolute;
}

.prev{
    top: 65px;
    left: -48px;
}

.next{
    top: 65px;
    right: -48px;
}

.middleBack{
    width : 100%;
    height: 100%;
}

.black{
    background-color: black;
}

.red{
    background-color: rgb(243, 33, 59);
}

.blue {
    background-color: rgb(14, 17, 44);
}

.middleContentWrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.middleTextWrap{
    margin : 0 15px;
}

.middle-title{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.middle-text{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color:white
}

.middleImg{
    width : 225px;
    height : 150px;
    object-fit: cover;
}

.middleImg > span {
    width: 100%;
    height: 100%;
}

.middleImg img { 
    width : 100%;
    height : 100%;
}
