html, body{
    margin : 0 ;
    padding : 0 ;
    width: 100%;
    height:100%;
}

body {
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
    color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

/* a태그의 색상 > 부모에게 상속 */
a:-webkit-any-link {
    color: inherit;
}

section{
    width : 1176px;
    margin-left: auto;
    margin-right: auto;
}

.alert{
    visibility: hidden;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right : 0;   /* 가운데로 이동 */
    width : 500px;
    height : 50px;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    z-index: 1000;
    background-color: white;
    padding-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
}

.visible{
    visibility: visible;
}

.writeWrap{
    width : 900px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.idWrap {
    margin-bottom: 50px;
}

.idWrap input{
    width : 150px;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-left: 20px;
    padding-bottom: 8px;
    margin-right: 20px;
}

.titleWrap{
    margin-bottom: 50px;
}

.titleWrap input{
    width : 700px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-left: 20px;
    padding-bottom: 8px;
}

.contentsWrap{
    margin-bottom: 50px;
}

textarea{
    resize: none;
    width : 800px;
    height: 400px;
    font-size: 15px;
    border: none;
    outline: none;
    border: 3px solid rgba(128, 128, 128, 0.5);
    padding: 20px;
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
}

.buttonWrap{
    position: absolute;
    right : 22px;
}

button.confirm {
    width : 80px;
    height : 40px;
    background-color: #18a550;
    border : none;
    color : white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 32px;
    cursor: pointer;
    margin-right: 20px;
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
}
