@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 
	'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	margin: 0;
}

div#createrChoice body {
	word-break: keep-all;
	background-color: #f8f8f8;
}

div#createrChoice button {
	cursor: pointer;
}

div#createrChoice header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 24px;
}

div#createrChoice a:link, div#createrChoice a:visited, div#createrChoice a:active, div#createrChoice a:hover {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

div#createrChoice header svg {
	width: 201px;
	height: 24px;
}

div#createrChoice div.aperture {
	height: 100px;
}

div#createrChoice div.main {
	text-align: center;
}

div#createrChoice div.main h3 {
	font-size: 28px;
	color: #101010;
	margin-bottom: 8px;
}

div#createrChoice div.main h6 {
	font-size: 18px;
	color: #a2a2a2;
}

div#createrChoice div.class-wrap {
	display: flex;
	justify-content: center;
	margin-top: 48px;
	transition: transform .2s ease, padding .2s ease;
}

div#createrChoice div.class-choice {
	display: flex;
	position: relative;
	width: 242px;
	height: 254px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	transition: all 0.3s ease-out;
}

div#createrChoice div.class-choice:hover {
	transform: translate(0,-20px);
}

div#createrChoice div.class-choice img {
	width: 120px;
	height: 120px;
	margin-bottom: 12px;
}

div#createrChoice div.class-choice h6 {
	font-size: 20px;
	color: #1a1a1a;
}

div#createrChoice div.class-choice button {
	position: absolute;
	width: 242px;
	height: 44px;
	bottom: 24px;
	color: #101010;
	background-color: #f2f2f2;
	font-size: 14px;
	font-weight: 700;
	border: none;
}

div#createrChoice div.class-choice:first-child {
	margin-right: 24px;
}