body {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.28581;
    text-transform: none;
    color: #182026;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, Icons16, sans-serif;
    line-height: 1;
    margin: 0;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body>div {
    position: relative;
    z-index: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP', Pretendard, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

form {
    display: block;
}

label {
    cursor: default;
}

input {
    margin: 0;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    color: #106ba3;
}

a:-webkit-any-link {
    color: #106ba3;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.css-1q57d0p {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.css-1ibbsi7 {
    display: flex;
    max-width: 1024px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.css-y5hz80 {
    display: flex;
    flex: 1 1 0%;
    width: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.css-1nup08f {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.css-uqt4j8 {
    width: 0px;
    height: 8px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-18imif5 {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.css-wlewje {
    width: 0px;
    height: 48px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-1jrh0y4 {
    display: flex;
    flex: 1 1 0%;
    width: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

element.style {
    width: auto;
    height: auto;
}

.css-15zhte1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-jbm3q {
    border-width: 0px;
    color: rgb(58, 58, 58);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.css-1k5xfry {
    width: 0px;
    height: 10px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-13ih0z:disabled {
    color: rgb(102, 102, 102);
    background-color: rgb(248, 248, 248);
    border-color: rgb(248, 248, 248);
}

.css-13ih0z {
    background-color: transparent;
    border-radius: 2px;
    outline-width: 0px;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
}

.css-1guwy4j {
    width: 0;
    height: 16px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.css-79elbk {
    position: relative;
}

.css-y2yxgj {
    width: 93.5%;
    height: 100%;
    padding: 13px 46px 13px 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    color: rgb(0, 0, 0);
    appearance: none;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.css-1860z25 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 16px;
}

.css-8ciuji {
    display: block;
    width: 16px;
    height: 16px;
}

.css-uxrfz2 {
    display: block;
    width: 100%;
    height: 100%;
    fill: #000000;
}

svg:not(:root) {
    overflow: hidden;
}

.css-17ivn46 {
    fill: #000000;
}

.css-10e55rx {
    height: 32px;
    display: flex;
}

.css-18yt79t {
    cursor: pointer;
    overflow: hidden;
    --system-on-color: #FFFFFF;
    background-color: #16ec60;
    color: var(--system-on-color);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    display: inline-flex;
    padding: 13px 16px;
    position: relative;
}

.css-18yt79t::before {
    position: absolute;
    inset: 0px;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
    background-color: rgb(255, 255, 255);
    content: "";
}

.css-3kqv01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: inherit;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-13g5vis {
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
}

.css-1labwoc {
    height: 12px;
    display: flex;
}

.css-1pt88zm {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.css-axnxhx {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: center;
}

.css-lgcbjy {
    border-width: 0px;
    color: rgb(40, 151, 251);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

@media screen and (min-width: 640px) {
    .css-13g5vis {
        line-height: 1.125rem;
        font-size: 0.875rem;
    }

    .css-wlewje {
        width: 0px;
        height: 48px;
    }

    .css-1ibbsi7 {
        flex-direction: column;
    }

    .css-1nup08f {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    .css-18yt79t {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .css-13g5vis {
        line-height: 1.125rem;
        font-size: 0.875rem;
    }

    .css-18yt79t {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .css-wlewje {
        width: 16px;
        height: 0px;
    }

    .css-1nup08f {
        font-size: 2.125rem;
        line-height: 2.75rem;
    }

    .css-1ibbsi7 {
        flex-direction: row;
    }
}

@media screen and (min-width: 1312px) {
    .css-13g5vis {
        line-height: 1.125rem;
        font-size: 0.875rem;
    }

    .css-18yt79t {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 13px;
        padding-bottom: 13px;
        width: 100%;
    }
}