element.style {
    width: auto;
    height: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP', Pretendard, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    display: block;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

a,
a:hover {
    color: #106ba3;
}

form {
    display: block;
}

p,
ul {
    padding: 0px;
    margin: 0px;
}

p {
    margin-bottom: 10px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

label {
    cursor: default;
}

input {
    margin: 0;
}

button {
    background-color: inherit;
}

body {
    margin: 0;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.28581;
    text-transform: none;
    color: #182026;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, Icons16, sans-serif;
}

:root {
    --system-on-color: #101010;
}

.css-1pb07q6 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.css-3fqex7 {
    background-image: url(https://cdn.class101.net/images/2d994747-10ae-40ac-b94e-542b11010d49);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.css-zszffg {
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-color: #E5E5E5;
}

.css-1n2mv2k {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-qlxdgd {
    display: block;
    width: auto;
    height: 24px;
}

.css-jmnqyc {
    display: block;
    width: auto;
    height: 100%;
    fill: rgb(0, 0, 0);
}

.css-sy7xp0 {
    fill: #1A1A1A;
}

.css-86rnjd {
    width: 0px;
    height: 72px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-zsoya5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-6mf4i3 {
    display: flex;
    margin-bottom: 8px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.css-1spcipk {
    border-width: 0px;
    color: rgb(58, 58, 58);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.css-1k5xfry {
    width: 0px;
    height: 10px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-bgb2hv {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
    background-color: transparent;
    color: #1A1A1A;
    border: #e5e5e5 solid 1px;
}


.css-1u2hgfc {
    width: 0px;
    height: 12px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-7smspc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-1oat6fh {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 42px;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
    background-color: transparent;
    color: #1A1A1A;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E5E5;
}

input[type="password"i] {
    -webkit-text-security: disc !important;
    /* padding: 1px 2px;// */
}

.css-1q1rv4p {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    right: 0px;
    padding-right: 16px;
    z-index: 1;
    position: absolute;
}

.css-1lncszd {
    display: block;
    width: 18px;
    height: 18px;
}

.css-1bsn256 {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(162, 162, 162);
}

svg:not(:root) {
    overflow: hidden;
}

.css-1q7dazr {
    fill: rgb(162, 162, 162);
}

.css-ot2zoy {
    display: flex;
    margin-bottom: 12px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row-reverse;
}

.css-yjlz19 {
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.css-qri5zn {
    cursor: pointer;
    --system-on-color: #FFFFFF;
    background-color: #16ce20;
    color: var(--system-on-color);
    border-width: 0;
    border-radius: 2px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.css-qri5zn::before {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: "";
}

.css-3kqv01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: inherit;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-1ai31h {
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.css-tmbwvj {
    width: 0;
    height: 32px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.css-1p060sh {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    background-color: #E5E5E5;
    width: 100%;
    height: 1px;
}

.css-15zhte1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-1xluyh {
    cursor: pointer;
    --system-on-color: #101010;
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--system-on-color);
    border-width: 0;
    border-radius: 2px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.css-1xluyh:hover {
    background-color: #e5e5e5;
}

.css-1xluyh::before {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: "";

}

.css-1oat6fh:hover {
    border-color: #CACACA;
}

.css-3kqv01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: inherit;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-1ai31h {
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.css-58su99 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-10m9xeu {
    display: block;
    width: 16px;
    height: 16px;
}

.css-pwvohb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.css-jvrg49 {
    width: 4px;
    height: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.css-1qti8at {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-1u2hgfc {
    width: 0;
    height: 12px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

#toast {
    position: relative;
    z-index: 3;
}

.css-id6xwf {
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    overflow: hidden;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 12px 2px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}

.css-58su99 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-1w7wuw6 {
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.css-ujih8e {
    display: block;
    width: 14px;
    height: 14px;
}

.css-xx047r {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(253, 48, 73);
}

.css-nbty87 {
    fill: rgb(253, 48, 73);
}

.css-1yftaat {
    fill: rgb(255, 255, 255);
}

.css-4os83y {
    width: 6px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-1tqn2bv {
    border-width: 0px;
    color: rgb(253, 48, 73);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.css-492zpj {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    top: 35px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    animation-name: errMsg;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.css-19j6hji {
    display: flex;
    padding: 14px 18px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    top: 35px;
    left: 50%;
    transform: trans lateX(-50%);
    animation-name: errMsg;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes errMsg {
    from {
        margin-top: 5px;
    }

    to {}
}

@media screen and (min-width: 640px) {
    .css-19j6hji {
        padding: 14px 18px;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .css-492zpj {
        animation-name: animation-9kw3v9;
    }

    .css-1oat6fh {
        width: 91.5%;
    }

    .css-1ai31h {
        line-height: 1.25rem;
        font-size: 1rem;
    }

    .css-bgb2hv {
        width: 95.2%;
    }

    .css-1xluyh {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;
        width: 95%;
    }

    .css-1ai31h {
        line-height: 1.25rem;
        font-size: 1rem;
    }

    .css-qri5zn {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;
        width: 95%;
    }

    .css-zszffg {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 100vh;
        border-radius: 0px;
        width: 100%;
    }

    .css-id6xwf {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .css-19j6hji {
        padding: 20px;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .css-id6xwf {
        width: 730px;
    }

    .css-492zpj {
        animation-name: animation-9kw3v9;
    }

    .css-1oat6fh {
        width: 85%;
    }

    .css-1ai31h {
        line-height: 1.25rem;
        font-size: 1rem;
    }

    .css-1xluyh {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;
        width: 91%;
    }

    .css-1ai31h {
        line-height: 1.25rem;
        font-size: 1rem;
    }

    .css-qri5zn {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;
        width: 91%;
    }

    .css-zszffg {
        padding-left: 48px;
        padding-right: 48px;
        min-height: 0;
        border-radius: 12px;
        overflow: hidden;
        -webkit-transform: translateX(0px) translateY(0px) translateZ(0px);
        -moz-transform: translateX(0px) translateY(0px) translateZ(0px);
        -ms-transform: translateX(0px) translateY(0px) translateZ(0px);
        transform: translateX(0px) translateY(0px) translateZ(0px);
        width: 400px;
    }

    .css-bgb2hv {
        width: 91.5%;
    }
}

.css-hpn70j {
    width: 0px;
    height: 4px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-17uv9yt {
    border-width: 0px;
    color: rgb(243, 33, 59);
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}