html, body{
    margin : 0 ;
    padding : 0 ;
    width: 100%;
    height:100%;
}

body {
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
    color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
}

/* a태그의 색상 > 부모에게 상속 */
a:-webkit-any-link {
    color: inherit;
}

body{
    overflow: hidden;
}

header {
    width : 100%;
    height : 80px;
    border-bottom: 1px rgb(229, 229, 229) solid;
    background-color: white;
}

div.header {
    width : 98%;
    height : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

div.logo {
    position : relative;
    width : 300px;
}

div.logo > svg {
    position : absolute;
    top : 17px;
    width : 110px; 
    height :50px;
}

div.logo-text {
    position : absolute;
    top: 25px;
    left: 40px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -1.25px;
}

div.profile {
    width : 34px;
    height : 34px;
    position : relative;
    cursor: pointer;
}

div.profile img {
    width : 100%;
    height : 100%;
}

.child-box {
    visibility: hidden;
    width: 200px;
    height : 50px;
    background-color: white;
    border :1px rgb(229, 229, 229) solid;
    position: absolute;
    top : 45px;
    right : 0;
    cursor: pointer;
}

.toggle {
    visibility: visible;
}

div.child-wrap {
    width : 100%;
    height: 50%;
}

div.child-wrap:hover {
    background-color: rgb(229, 229, 229);
}

div.child-menu {
    width : 100%;
    height : 50px;
    text-align: left;
    padding-left : 20px;
    line-height: 50px;
}

div.child-menu > span {
    margin : 0;
    padding : 0;
}

nav{
    position: fixed;
    width : 240px;
    height : calc(100% - 80px);
    border-right: 1px rgb(229, 229, 229) solid;
}

.section-left{
    width: 240px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}

.menu-wrap{
    width: 100%;
    height : 60px;
    display: flex;
    cursor: pointer;
}

.menu-wrap:hover{
    background-color: rgb(229, 229, 229);
}

.menu-wrap svg{
    width : 24px;
    height : 24px;
    padding-top: 20px;
    padding-left : 20px
}

.menu-text{
    width: 100%;
    line-height: 60px;
}

.menu-text{
    color :rgb(26, 26, 26);
    font-weight: 500;
    font-size: 15px;
}

.menu-text span{
    padding-left: 10px;
}

section{
    padding-left: 240px;
    display: flex;
    width : 100%;
    height : calc(100% - 480px);
    border-color: rgb(229, 229, 229);
    border-left: 1px solid;
}

div.helpWrap{
    width : fit-content;
    padding : 50px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 240px;
}

div.helpTop{
    display: flex;
}

.helpTitle{
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    width : 100%;
    left: 50;
}

.helpAll{
    width : 1400px;
    height : 582px;
    border: 1px rgb(238, 238, 238) solid;
}

div.tableWrap{
    width : 1300px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

table.helpList{
    font-size: 14px;
    width : 1300px;
    text-align: left;
    margin : 15px 0 0 2px ;
}

th{
    text-align: left;
}

th, td {
    height : 50px;
    border-bottom : 1px rgb(238 238 238) solid;
}

tr.lastData td{
    border-bottom : none;
}

td.qnaTitle{
    padding-left: 2px;
}

td.qnaTitle:hover{
    text-decoration: underline;
    cursor: pointer;
}

.status{
    color : #18a550;
    font-weight: 500;
}

.waiting{
    color : rgb(243, 33, 59) ;
    font-weight: 500;
}

.numWrap {
    width : 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 30px;
}

.numBox{
    width: 100%;
    display: flex;
    align-content: center;
}

.arroePrev{
    margin-right: 16px;
}

.circleBox{
    display: flex;
    align-items: center;
}

button.numCircle{
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    color:black;
    background-color: white;
    cursor: pointer;
    margin-right: 16px;
    margin-top: -7px;
    font-size: 15px;
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
}

div.page-number {
	margin-top: 24px;
	margin-bottom: 20px;
}

div.number-buttons {
	display: flex;
	justify-content: center;
}

div.number-buttons button {
	display: inline-flex;
	width: 32px;
	height: 32px;
	justify-content: center;
	align-items: center;
	margin: 5px;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	border-radius: 3px;
	cursor: pointer;
}

div.number-buttons button.numButton {
	background-color: #f8f8f8;
	border-color: #f8f8f8;
	color: #000;
	font-weight: 500;
	font-size: 14px;
}

div.number-buttons button.number-select {
	background-color: #19ce60;
	border-color: #19ce60;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
}