@charset "UTF-8";

*{
 font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP', Pretendard, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body {
    display: block;
    margin: 8px;
}

body{
    margin: 0;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background: #f8f8f9;
    position: relative;
    margin: 0;
}

div {
    display: block;
}

a:-webkit-any-link {
    cursor: pointer;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

button, input{
    overflow: visible;
}

button, select{
    text-transform: none;
}

button, input, optgroup, select, textarea{
    line-height: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a{
    text-decoration: none;
}

body{
    line-height: 1;
}

body{
    margin: 0;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}

body>div{
    position: relative;
    z-index: 0;
}

.wrapper2{
    position: relative;
    max-width: 640px;
    margin: 0px auto;
}

.kgBzKM{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.dkpqLE{
    position: relative;
    padding: 24px;
}

.bxTXNb{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    color: rgb(162, 162, 162);
}

.bxTXNb *{
    vertical-align: middle;
}

.iTUWBy{
    border-radius: 24px;
    background-color: rgb(248, 248, 248);
    padding: 6px 10px;
    color: rgb(202, 202, 202);
}

.iDrVSO{
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    color: inherit;
}

.lkWmez{
    transform: rotate(13deg);
    margin: 0px 6px;
    width: 1px;
    height: 17px;
    background-color: rgb(202, 202, 202);
}

.CDUoo{
    border-radius: 24px;
    background-color: rgb(248, 248, 248);
    padding: 6px 10px;
    color: rgb(26, 26, 26);
}

.bllwZM{
    margin-top: 12px;
}

.css-1lg6qbs{
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.css-ugcyng{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
}

.css-1k81e3v{
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.css-vjrwa3{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.dkpqLE h4{
    margin: 0px;
}

.css-iiuncx{
    width: 8px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-1fq5k50{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.css-16ca25h{
    font-weight: 400;
    background-color: transparent;
    border-radius: 2px;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-width: 0;
    cursor: pointer;
    width: auto;
}

.css-58su99{
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-9f1d6y{
    display: block;
    width: 10px;
    height: 10px;
}

.css-1nglat4{
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(102, 102, 102);
}

svg:not(:root){
    overflow: hidden;
}

.css-dudu3d{
    fill: rgb(102, 102, 102);
}

.css-oofvv2{
    width: 2px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-d6hihw{
    color: #666666;
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

.css-1guwy4j{
    width: 0px;
    height: 16px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.eJOZvN{
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 8px;
}

.iGgrOr{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 52px;
}

.bDkLkp{
    width: 40%;
}

.cRjzuI{
    font-size: 16px;
    color: rgb(202, 202, 202);
    font-weight: 300;
}




.search-modal{
    width : 100vw;
    height : 100vh;
    background: rgba(0, 0, 0, 0.8);
    position : absolute;
    top : 0;
    left : 0;
    z-index: 5000;
    visibility: hidden;
}

.toggle{
    visibility: visible;
}

div.search-click{
    width : 100vw;
    height : 70vh;
    background-color: white;
    display: flex;
    float: left;
    top : 0;
    left: 0;
    z-index : 5000;
    position: absolute;
}

div.search-click div.logo{
    width : 35%;
    margin : 0;
    margin-left: 30px;
    margin-top : 30px;
}

div.search-click div.search-main {
    width : 36%;
    margin: 0;
    margin-top : 30px;
}

div.search-click div.cancel{
    width : auto;
    margin: 0;
    margin-top: 37px;
    margin-left: -115px;
    cursor: pointer;
}

div.seacrh-title {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700;
}

span.seacrh-title {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700;
}

div.search-lately{
    display : flex;
    float : left;
    justify-content: space-around;
    margin-top: 20px;
    height : 20%;
}

div.search-del{
    color: rgb(102, 102, 102);
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding-left: 300px;
    cursor : pointer;
}

div.recommend{
    clear: both;
    height : 20%;
}

div.button-wrap{
    display: flex;
    float : left
}

div.recommend button{
    margin : 12px 4px;
    -webkit-appearance: none;
    border :2px rgb(92, 92, 92) solid;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    padding: 9px 16px;
    border-radius: 24px;
    letter-spacing: -1.15px;
    cursor : pointer;
}

span.lately{
    display : inline-block;
    color: rgb(162, 162, 162);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 4px;
}

div.rangkin-num {
    display: flex;
    float : left;
    width : 63%;
    margin-top: 30px;
}

div.rangkin-num div.num-half {
    clear:both;
    width : 49%;
}

div.rangkin-num span.num{
    margin : 10px 0;
    display: inline-block;
    color: rgb(255, 86, 0);
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    width : 10%;
    cursor : pointer;
}

div.rangkin-num span.keyword{
    margin : 10px 0;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    width : 80%;
    cursor : pointer;
}

 div.header-right {
     clear : both;
     display: flex;
 }

div.header-right a{
    text-decoration: none;
}

div.header-right p{
    margin: 0;
    font-size: 0.875rem;
    color : #1A1A1A;
}



