@charset "UTF-8";

*{
 font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP', Pretendard, system-ui, Roboto, 'Helvetica Neue', 
 'Segoe UI', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body{
    display: block;
    margin: 8px;
}

body{
    margin: 0;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue'
    ,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background: #ffffff;
    position: relative;
    margin: 0;
}

div{
	display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

svg[Attributes Style] {
    width: 14;
    height: 14;
    fill: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border:none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link {
    cursor: pointer;
}

body{
    line-height: 1;
}

body{
    margin: 0;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}

body>div{
    position: relative;
    z-index: 0;
}

.wrapper2{
    position: relative;
}

.kgBzKM{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.gqgKCQ{
    max-width: 1176px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.fTBYHw{
    padding: 72px 0px 48px;
}

.efFJDg{
    display: inline-block;
}

.cYLUty{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: rgb(26, 26, 26);
    margin-bottom: 0px;
    cursor: pointer;
}

.cqZvVN{
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.liqddx{
    color: rgb(162, 162, 162);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.iTujEl{
	display: flex;
}

.ipCzuu{
	width: 320px;
    margin-right: 78px;
}

.cgWehN{
    margin-bottom: 48px;
}

.jdPAHA{
    font-size: 18px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.45px;
    margin: 0px;
}

.dyWeXC{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.eYKbXT{
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
}

.cqZvVN{
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.fXhCUc{
    display: block;
}

.cgWehN:last-of-type{
    margin-bottom: 24px;
}

.fSJEcd{
    display: none;
    border-bottom: 12px solid rgb(240, 240, 240);
    margin: 0px -24px;
}

.jlbLpy{
    flex: 1 1 0%;
    min-width: 0px;
}


.kNxSwr{
    margin-bottom: 48px;
}

.hcxVgX{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.cHXTMU{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cFqqVC{
    font-size: 18px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.45px;
    margin: 0px;
}

.kgBzKM{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.VOHdJ{
    text-align: center;
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    padding: 24px 0px;
    flex-direction: row;
}

.liqddx:hover{
	color: rgb(0, 199, 60);
}

.gkiCmL:hover{
	text-decoration: underline;
}



/* --------------------------------------------------------------------- */


.hiddenBox .swiper-slide{
  list-style-type: none;
}

.gQyJNI{
    border: 0px;
    outline: none;
    margin: 0px;
    padding: 0px;
    flex: initial;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.fEVWYc{
    display: inline-flex;
    flex: 0 0 auto;
    vertical-align: middle;
    padding: 0px;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: transparent;
    width: 32px;
    height: 32px;
    transition: background-color 0.1s ease 0s;
}

.jWkqON{
    position: absolute;
    z-index: 2;
    top: -48px;
    right: 32px;
}

.BYXFz{
    position: absolute;
    z-index: 2;
    top: -48px;
    right: 0px;
}

.gQyJNI{
    cursor: pointer;
}

.jwNHGa{
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}



.cXOrCl{
}




.eDQPYt{
    position: relative;
}

.hiddenBox{
	width: 780px;
	overflow: hidden !important;
	position: relative;
}

.swiper-container{
    margin: 0px auto;
    position: relative;
    /* overflow: hidden; */
    list-style: none;
    padding: 0px;
    z-index: 1;
    width: 1500px;
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}

.swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform, -webkit-transform;
}


.swiper-container-android .swiper-slide, .swiper-wrapper{
    transform: translate3d(0px, 0px, 0px);
}

.css-zsoya5{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.hRWfZQ{
    display: block;
    text-decoration: none !important;
}

.iDddPj{
    position: relative;
    width: 100%;
}

.kbMurS{
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 8px;
}

.bUogJm{
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 0px;
    padding-top: 75%;
    background: rgb(238, 238, 238);
}

.kKdHVx{
    position: relative;
    border-radius: 3px;
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.iXXLck{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.kKdHVx img{
    transform: scale(1);
    transition: transform 0.3s ease 0s, opacity 0.1s linear 0s !important;
}

.kWswCZ img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iXXLck img{
    transition: opacity 0.1s linear 0s;
    object-fit: cover;
    opacity: 1;
}

.hiddenBox{
  position: absolute;
  left: 0;
  top: 0;/* 
  width: 1500px; /* 슬라이드할 사진과 마진 총 넓이 */  */
  transition: left 0.5s ease-out; 
  /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/* 내가 구매한 상품 */
section.bought-class {
	position: relative;
	height: 296px;
}

div.no-class-container {
	display: inline-flex;
	width: 778px;
	height: 200px;
	background-color: #efefef;
	overflow: hidden;
	border-radius: 8px;
	align-items: center;
    justify-content: center;
}

div.class-container {
	width: 778px;
	height: fit-content;
	overflow: hidden;
	border-radius: 8px;
}

div.no-class {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

div.no-class svg {
	width: 24px;
	height: 24px;
	margin-bottom: 8px;
}

div.classes {
	width: 10000px;
	transition: transform 0.5s;
}

div.img {
	width: 300px;
	height: 210px;
	float: left;
	margin-right: 10px;
}

form[name="classForm"] {
	width: 300px;
	height: 210px;
}

div.img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: #efefef;
	border-radius: 3px;
}

button.prev {
	position: absolute;
	top: 150px;
	left: -42px;
}

button.next {
	position: absolute;
	top: 150px;
	right: -42px;
}

button.arrow {
	display: inline-flex;
	width: 32px;
	height: 32px;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	border-radius: 3px;
	cursor: pointer;
	z-index: 1;
}

a.more-information:not(:last-of-type) {
  margin-right: 10px;
}