@charset "UTF-8";
*{
 font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP', Pretendard, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


body{
    display: block;
    margin: 8px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background: #ffffff;
    position: relative;
    margin: 0;
}

body{
	line-height: 1;
}

body{
    margin: 0;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}

div {
    display: block;
}

body>div{
    position: relative;
    z-index: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	    display: block;
}

a{
	-webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link {
    cursor: pointer;
}

svg:not(:root){
    overflow: hidden;
}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4{
    color: #182026;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
    line-height: 21px;
    font-size: 18px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1{
    color: #182026;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
    line-height: 40px;
    font-size: 36px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p, ul{
    padding: 0px;
    margin: 0px;
}

label {
    cursor: default;
    display: inline-block;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button, input, optgroup, select, textarea{
    margin: 0;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    line-height: inherit;
}

button, input{
    overflow: visible;
}

button, html [type='button'], [type='reset'], [type='submit']{
    -webkit-appearance: button;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.wrapper2{
    position: relative;
}

/* 상단 헤더 */

.css-ud1xbe{
    position: sticky;
    top: 0;
    z-index: 10;
}

<!-- 메인화면에서 헤더 따오기 -->



/* ------------------------------------------------------------------------------------ */
/* 메인화면 */
.mainScreen{
    padding: 64px 0px 128px;
    background-color: white;
}

.mainScreen2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.mainScreen2{
    max-width: 960px;
}

.mainScreen3{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    place-content: stretch flex-start;
    margin-right: -12px;
    margin-left: -12px;
}

.mainScreen4{
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}

.mainScreen4{
    width: 50%;
    margin-left: 25%;
}

.mainScreen h1{
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.6px;
    margin: 16px 0px 48px;
}

.text_box01{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px;
}

.text_box02{
    margin-bottom: 16px;
}

.text_label{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(26, 26, 26);
}

.text_box03{
    display: block;
}

.input_box{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}

.password_standard01{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    margin: 2px 0px;
}

.password_standard02{
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(102, 102, 102);
}

.password_standard01 svg{
    margin-right: 3px;
    flex-shrink: 0;
}

.hrhrhr{
    margin-top: 24px;
}

.buttonTool1{
    border: 0px;
    outline: none;
    margin: 0px;
    padding: 0px;
    flex: initial;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.buttonTool3{
    width: 100%;
    display: flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding: 0px 20px;
    height: 48px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
}

.buttonTool4{
    margin-top: 14px;
    background-color: rgb(0, 199, 60);
}

.buttonTool1{
    cursor: pointer;
}

.allSpan{
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.termsOfUse_box01{
    margin-top: 16px;
}

.termsOfUse_box02{
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    color: rgb(202, 202, 202);
    text-align: center;
    cursor: pointer;
}

.termsOfUse{
    color: rgb(0, 78, 195);
}

.mainScreen p{
    font-size: 12px;
    line-height: 1.45;
    color: rgb(202, 202, 202);
    text-align: center;
}

.buttonTool2{
    width: 100%;
    display: flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: rgb(248, 248, 248);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding: 0px 20px;
    height: 48px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
}

.button_kakao{
    border-radius: 3px;
    margin-bottom: 8px;
    color: rgb(58, 58, 58);
    transition: filter 0.1s ease 0s;
    background-color: rgb(255, 232, 18);
}

.button_kakao img, .button_kakao svg{
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.buttonTool4:hover{
	background-color: #2E8B57;
}

.button_kakao:hover{
	background-color: #D0B336;	
}

.nameV{
    border: 1px solid rgb(239, 239, 239);
}

.emailV{
    border: 1px solid rgb(239, 239, 239);
}

.passwordV{
    border: 1px solid rgb(239, 239, 239);
}

.password2V{
    border: 1px solid rgb(239, 239, 239);
}



.gUToOv{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.edxcPn{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px;
}

.jbmNLF{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(26, 26, 26);
}


.kDVUuj{
    display: flex;
}

.kDVUuj > div{
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.kDVUuj > div > input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.kDVUuj > button{
    height: 48px;
    border-top: 1px solid rgb(239, 239, 239);
    border-right: 1px solid rgb(239, 239, 239);
    border-bottom: 1px solid rgb(239, 239, 239);
    border-image: initial;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
}

.dGxueP{
    display: block;
}

.eQAnnk{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}

.jAuirA:disabled{
    background-color: rgb(255, 255, 255);
}

.phone_num{
    border: 1px solid rgb(239, 239, 239);
}

span.jwNHGa{
	font-size: 13px !important;
}

#buttonColor:hover{
	background-color: #DCDCDC;
}

.erMText {
    border-width: 0px;
    color: rgb(243, 33, 59) !important;
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1rem !important;
    text-align: left !important;
}

