<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">

<!-- 로그인 -->
	<select id="login" parameterType="adminVO" resultType="int">
		select count(adminNum) from tbl_admin where admin_id = #{adminId} and admin_pw = #{adminPw}
	</select>







</mapper>