<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Class">

<!-- 클래스 생성 -->
	<insert id="create" parameterType="classVO">
		insert into tbl_class
		(class_nickname, class_title, class_category, class_place, class_price, class_start, class_end, class_approve, class_img, class_one, class_status, user_num, class_introduce, class_day)
		values (#{classNickname}, #{classTitle}, #{classCategory}, #{classPlace}, #{classPrice}, #{classStart}, #{classEnd}, #{classApprove}, #{classImg}, #{classOne}, #{classStatus}, #{userNum}, #{classIntroduce}, #{classDay})
	</insert>
	
<!-- 클래스 수정화면 보기 -->
	<select id="modify" parameterType = "_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_start, class_end, class_price, class_approve, class_img, class_one, class_status, class_introduce
		from tbl_class where class_num = #{classNum}
	</select>
	
<!-- 클래스 수정완료 -->
	<update id="modifyOk" parameterType = "classVO">
		update tbl_class set
		class_title = #{classTitle},
		class_category = #{classCategory},
		class_price = #{classPrice},
		class_place = #{classPlace},
		class_place_detail = #{classPlaceDetail},
		class_start = #{classStart},
		class_end = #{classEnd},
		class_introduce = #{classIntroduce},
		class_nickname = #{classNickname}	
		where class_num = #{classNum}
</update>
	
<!-- 클래스 비활성화 -->
	<update id="del" parameterType="_int">
	update tbl_class set class_status = '1' 
	where class_num = #{classNum}
	</update>
	
	<!-- 내가 개설한 클래스 보기 (크리에이터센터)-->
	<select id="viewMine" parameterType="map" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_start, class_end, class_approve, class_img, class_one, class_status, class_introduce, class_price
		from tbl_class
		where user_num = #{userNum}
		order by 1 desc limit #{startRow}, #{rowCount}
	</select>	
	
	<!-- 내가 개설한 클래스 개수 -->
	<select id="mineTotal" parameterType="_int" resultType="_int">
		select count(class_num) from tbl_class where user_num = ${userNum}
	</select>
	
	<!-- 최근 등록한 클래스 번호 -->
	<select id="getSeq" parameterType="_int" resultType="_int">
		select class_num from tbl_class
		where user_num = ${userNum}
		order by 1 desc limit 0, 1
	</select> <!-- 내림차순해서 한개만 뽑기 :: 가장 최근 등록 클래스 -->
	
<!-- 승인 대기 클래스 보기 -->
	<select id="pending" parameterType="_int" resultType="classVO">
	select class_num, class_nickname, class_title, class_category, class_place, class_start, class_end, class_img, class_one, class_status, class_introduce, user_num
	from tbl_class
	where class_approve = '0'
	</select>
	
<!-- 클래스 승인 -->
	<update id="confirm" parameterType="classVO">
	update tbl_class set class_approve = '1' 
	where class_num = '#{classNum}'
	</update>

<!-- 추천 (전체)클래스 목록 조회 -->
	<select id="GraphView" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_approve = '1'
		order by class_like desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 카테고리 클래스 목록 조회 -->
	<select id="GraphViewCategory" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_category = #{classCategory} and class_approve = '1'
		order by class_like desc limit 0, 9
	</select>
	
<!-- 원데이 클래스 목록 조회 -->
	<select id="GraphViewOne" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_approve = '1' and class_one = '1'
		order by 1 desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 온라인 클래스 목록 조회 -->
	<select id="GraphViewOn" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_approve = '1' and class_one = '0'
		order by 1 desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 원데이 클래스 TOP 목록 조회 -->
	<select id="GraphViewOneTop" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_approve = '1' and class_one = '1'
		order by class_like desc limit 10
	</select>
	
<!-- 온라인 클래스 TOP 목록 조회 -->
	<select id="GraphViewOnTop" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_approve = '1' and class_one = '0'
		order by class_like desc limit 10
	</select>
	
<!-- 게시글 전체 갯수 -->
	<select id="getTotal" resultType="_int">
		select count(class_num) from tbl_class
	</select>
		
<!-- 원데이 클래스 조회 -->
	<select id="selectDetail" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum}
	</select>
	
<!-- 쿠폰 사용시 -->
	<select id="selectSale" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price-2000, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum}
	</select>
	
<!-- 쿠폰 사용시 -->
	<select id="selectSaleBack" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum}
	</select>
	
<!-- 원데이 클래스 추천 목록 조회 -->
	<select id="ClassLikeOne" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum} and class_approve = '1' and class_one = '1'
		order by class_like desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 원데이 클래스 최신 목록 조회 -->
	<select id="ClassLatestOne" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum}  and class_approve = '1' and class_one = '1'
		order by class_day desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 온라인 클래스 추천 목록 조회 -->
	<select id="ClassLikeOn" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum} and class_approve = '1' and class_one = '0'
		order by class_like desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 온라인 클래스 최신 목록 조회 -->
	<select id="ClassLatestOn" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum} and class_approve = '1' and class_one = '0'
		order by class_day desc limit #{startRow}, #{rowCount}
	</select>
	
<!-- 온라인 클래스 조회 -->
	<select id="selectDetailOn" parameterType="_int" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_num = #{classNum}
	</select>
	
<!-- 최신순 클래스 목록 조회 -->
	<select id="ClassRecommended" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_approve, class_one, class_day
		from tbl_class
		where class_category = #{GraphViewCategory} and class_approve = '1'
		order by desc
	</select>
	
<!-- 추천하기 -->
	<update id="classLike" parameterType="classVO">
		update tbl_class
		set class_like = #{classLike}
		where class_num = #{classNum} and user_num = #{userNum} 
	</update>
	
<!-- 추천 갯수 -->
	<select id="getLike" resultType="_int">
		select class_like 
		from tbl_class
		where class_num = #{classNum} 
	</select>	
	
<!-- 전체 클래스 보기 (목록에 사용)-->   
   <select id="classAllList" parameterType="map" resultType="classDTO">
      select class_num, class_one, class_Day, class_approve, class_title, i.user_num, user_name
      from tbl_class i join tbl_user u
      on i.user_num = u.user_num
      order by 1 desc limit #{startRow}, #{rowCount}
   </select>
	
	<!-- 마이페이지를 위한 클래스 정보 불러오기 -->
	<select id="viewMyPage" parameterType="_int" resultType="classVO">
		select class_num, class_img
		from tbl_class
		where class_num = #{classNum} and class_approve = 1
	</select>
	
	<!-- 마이페이지를 위한 온라인 클래스 상세정보 불러오기 -->
	<select id="viewOnlineDetail" parameterType="_int" resultType="classVO">
		select class_title, class_nickname, class_video
		from tbl_class
		where class_num = #{classNum} and class_approve = 1
	</select>
	
	<!-- 마이페이지를 위한 원데이 클래스 상세정보 불러오기 -->
	<select id="viewOnedayDetail" parameterType="_int" resultType="classDTO">
		select class_title, class_nickname, order_reservation, class_place, class_place_detail
		from tbl_class c join tbl_order o
		on c.class_num = o.class_num
		where c.class_num = #{classNum} and class_approve = 1
	</select>
	
<!-- 개설한 클래스 내용 불러오기 -->
   <select id="classMyView" parameterType="_int" resultType="classDTO">
      select class_num, class_title, class_category, class_place, class_place_detail, class_start, class_end, class_introduce, class_price,  class_nickname, class_approve, class_img, c.user_num, user_name, user_email
      from tbl_class c join tbl_user u
      on c.user_num = u.user_num and class_num = #{classNum}
   </select>


	<!-- 클래스 승인 허가 -->
	<update id="classApproveOk" parameterType="_int">
	   update tbl_class set class_approve = 1 where class_num = #{classNum}
	</update>
	
	
	<!-- 클래스 승인 취소 -->
	<update id="classApproveNo" parameterType="_int">
	   update tbl_class set class_approve = 0 where class_num = #{classNum}
	</update>
	
<!-- 최신 (전체)클래스 목록 조회 -->
	<select id="ClassLikeLatest" resultType="classVO">
		select class_num, class_nickname, class_title, class_category, class_place, class_place_detail, class_price, class_start, class_end, class_img, class_like, class_introduce, class_Day
		from tbl_class
		where class_approve = '1'
		order by class_Day desc limit #{startRow}, #{rowCount}
	</select>

	<!-- 메인페이지를 위한 원데이 TOP 10 클래스 정보 불러오기 -->
	<select id="classMainOnedayTop10" resultType="classVO">
		select class_num, class_img, class_nickname, class_title, class_like, class_price from tbl_class
		where class_one = 1 and class_approve = 1
		order by class_like desc
		limit 10
	</select>
	
	<!-- 메인페이지를 위한 온라인 TOP 10 클래스 정보 불러오기 -->
	<select id="classMainOnlineTop10" resultType="classVO">
		select class_num, class_img, class_nickname, class_title, class_like, class_price from tbl_class
		where class_one = 0 and class_approve = 1
		order by class_like desc
		limit 10
	</select>
	
	<!-- 메인페이지를 위한 MD 추천 클래스 정보 불러오기 -->
	<select id="classMainMD" resultType="classVO">
		select class_num, class_img, class_nickname, class_title, class_like, class_price from tbl_class
		where class_approve = 1
		order by rand()
		limit 10
	</select>
	
	<!-- 메인페이지를 위한 원데이 클래스 정보 불러오기 -->
	<select id="classMainOneday" resultType="classVO">
		select class_num, class_img, class_nickname, class_title, class_like, class_price from tbl_class
		where class_one = 1 and class_approve = 1
		order by class_num desc
		limit 10
	</select>
	
	<!-- 메인페이지를 위한 온라인 클래스 정보 불러오기 -->
	<select id="classMainOnline" resultType="classVO">
		select class_num, class_img, class_nickname, class_title, class_like, class_price from tbl_class
		where class_one = 0 and class_approve = 1
		order by class_num desc
		limit 10
	</select>
	
	<!-- 메인페이지를 위한 최근 업로드된 클래스 정보 불러오기 -->
	<select id="classMainRecent" resultType="classVO">
		select class_num, class_img, class_nickname, class_title, class_like, class_price from tbl_class
		where class_approve = 1
		order by class_num desc
		limit 12
	</select>
</mapper>