<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Inquiry">


<!-- 문의글 작성1-->
	<insert id="inquiryWrite" parameterType="inquiryVO">
		insert into tbl_inquiry
		(inquiry_day, inquiry_content, inquiry_title, user_num)
		values(#{inquiryDay}, #{inquiryContent}, #{inquiryTitle}, #{userNum})
	</insert>

<!-- 전체 문의 보기 2-->
	<select id="inquiryList" parameterType="map" resultType="inquiryDTO">
		select inquiry_num, inquiry_Day, inquiry_process, inquiry_title, user_name
		from tbl_inquiry i join tbl_user u
		on i.user_num = u.user_num
		order by 1 desc limit #{startRow}, #{rowCount}
	</select>

<!-- 전체 문의 개수 3-->
	<select id="getTotal" resultType="_int">
		select count(inquiry_num) from tbl_inquiry
	</select>

<!-- 내가 쓴 문의글 불러오기 5-->
	<select id="inquiryMyView" parameterType="_int" resultType="inquiryDTO">
		select inquiry_num, inquiry_content, inquiry_title, inquiry_day, inquiry_process, i.user_num, user_name
		from tbl_inquiry i join tbl_user u
		on i.user_num = u.user_num and inquiry_num = #{inquiryNum}
	</select>

<!-- 문의글 수정 6-->
	<update id="inquiryModify" parameterType="inquiryVO">
		update tbl_inquiry set inquiry_content = #{inquiryContent}, inquiry_title = #{inquiryTitle} where inquiry_num = #{inquiryNum}
	</update>

<!-- 문의글 답변 완료 7-->
	<update id="inquiryOk" parameterType="_int">
		update tbl_inquiry set inquiry_process = 1 where inquiry_num = #{inquiryNum}
	</update>


</mapper>