<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Inquiry">


<!-- 문의글 작성1-->
	<insert id="inquiryWrite" parameterType="inquiryVO">
		insert into tbl_inquiry
		(inquiry_pw, inquiry_day, inquiry_content, inquiry_title, user_num)
		values(#{inquiryPw}, #{inquiryDay}, #{inquiryContent}, #{inquiryTitle}, #{userNum})
	</insert>

<!-- 전체 문의 보기 2-->
	<select id="inquiryList" resultType="inquiryVO">
		select inquiry_num, inquiry_Day, inquiry_process, user_num
		from tbl_inquiry order by inquiry_num desc
	</select>

<!-- 비밀번호 검사 3-->
	<select id="pwOk" parameterType="String" resultType="_int">
		select inquiry_num from tbl_inquiry
		where user_num = #{userNum} and inquiry_pw = #{inquiryPw}
	</select>

<!-- 내가 쓴 문의글 불러오기 4-->
	<select id="inquiryMyView" parameterType="_int" resultType="inquiryVO">
		select inquiry_num, inquiry_content, inquiry_title from tbl_inquiry where inquiry_num = #{inquiryNum}
	</select>

<!-- 문의글 수정 5-->
	<update id="inquiryModify" parameterType="inquiryVO">
		update tbl_inquiry set inquiry_content = #{inquiryContent}, inquiry_title = #{inquiryTitle} where inquiry_num = #{inquiryNum}
	</update>

<!-- 문의글 답변 완료 6-->
	<update id="inquiryOk" parameterType="_int">
		update tbl_inquiry set inquiry_process = 1 where inquiry_num = #{inquiryNum}
	</update>


</mapper>