<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">

<!-- 주문 생성-->
	<insert id="create" parameterType="orderVO">
		insert into tbl_order
		(order_num, order_reservation, order_status, class_num, user_num)
		values(#{orderNum}, #{orderReservation}, #{orderStatus}, #{classNum}, #{userNum})
	</insert>

<!-- 주문 불러오기 -->
	<select id="view" parameterType="orderVO" resultType="orderVO">
		select * from tbl_order where user_num = #{userNum}
	</select>

<!-- 주문 취소 -->
	<update id="cancel" parameterType="orderVO">
		update tbl_order set order_status = #{couponStatus} where order_num = #{orderNum}
	</update>






</mapper>