html, body{
    margin : 0 ;
    padding : 0 ;
    width: 100%;
    height:100%;
}

body {
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
    color: rgb(26, 26, 26);
}

a{
    text-decoration: none;
}

.alert{
    visibility: hidden;
    position: fixed;
    margin: 0 auto;
    top : 150px;
    left: 0;
    right : 0;   /* 가운데로 이동 */
    width : 650px;
    height : 50px;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    z-index: 1000;
    background-color: white;
    padding-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
}

.visible{
    visibility: visible;
}

div.findPwWrap{
    width : 960px;
    padding: 70px 0 90px 0;
    margin-left: auto;
    margin-right: auto;
}

div.contentsWrap{
    width : 440px;
    margin-left: auto;
    margin-right: auto;
}

div h1{
    font-size: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
}

.text-bottom{
    font-size: 14px;
    letter-spacing: -0.15px;
}

form{
    margin-top: 30px;
}

.login-ment{
    color: rgb(58, 58, 58);
    margin: 0px;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
}

div.input-box {
    margin-top: 2px;
    margin-bottom: 2px;
    display : block;
    width : 410px;
}   
input.input-text {
    border: 1px solid #d4d4d4;
    height : 44px;
    display : block;
    width : 100%;
    font-size : 14px;
    font-weight: 500;
    color: #1a1a1a;
    border-radius: 2px;
    outline: none;
    padding : 0 10px;
}

h6{
    visibility: hidden;
    display: flex;
    align-items: center;
    margin: 10px 0 0 5px;
    color : rgb(255, 82, 82);
}

h6 svg path{
    fill: rgb(255, 82, 82);
}

h6 span {
    display: inline-block;
    margin-left: 3px;
}

.visible{
    visibility: visible;
}

div.sendEmail {
    margin-top: 20px;
    height : 56px;
}

.sendEmail-box {
    width: 432px;
    height : 56px;
    margin: 2px 0 0;
    background: #19ce60;
    border : none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    line-height: 56px;
    font-weight: 600;
    cursor : pointer;
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
}