html, body{
    margin : 0 ;
    padding : 0 ;
    width: 100%;
    height:100%;
}

body {
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
    color: rgb(26, 26, 26);
}

a{
    text-decoration: none;
}

body {
    background-image: url('img/back.png');
    display: flex;
    align-items: center;
}

.alert{
    visibility: hidden;
    color: rgb(243, 33, 59);
    position: fixed;
    margin: 0 auto;
    top : 150px;
    left: 0;
    right : 0;   /* 가운데로 이동 */
    width : 650px;
    height : 50px;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    z-index: 1000;
    background-color: white;
    padding-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
}

.visible{
    visibility: visible;
}

div.login-wrap{
    width : 496px;
    height : 845px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
}

div.login-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

div.login-contentsWrap{
    width : 496px;
    height : 715px;
    margin-left: auto;
    margin-right: auto;
}

div.logo{
    text-align: center;
    margin: 30px 0;
}

div.logo > span {
    display: inline-block;
}

div.logo > span > svg { 
    width : 201px;
    height : 24px;
}

div.form-wrap {
    margin : 0 auto;
    width : 400px;
}

.input-form {
    margin : 0 auto;
    width : 400px;
}

.login-ment{
    color: rgb(58, 58, 58);
    margin: 0px;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
}

div.input-box {
    margin-top: 2px;
    margin-bottom: 2px;
    display : block;
    width : 400px;
}   
input.input-text {
    border: 1px solid #d4d4d4;
    height : 44px;
    display : block;
    width : 380px;
    font-size : 14px;
    font-weight: 500;
    color: #1a1a1a;
    border-radius: 2px;
    outline: none;
    padding : 0 10px;
}

div.login-button {
    height : 56px;
}

.findPw{
    text-align: right;
    cursor: pointer;
    font-weight: 700;
}

button.login-button-box {
    width: 100%;
    height : 56px;
    margin: 2px 0 0;
    background: #19ce60;
    border : none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    line-height: 56px;
    font-weight: 600;
    cursor : pointer;
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
}

div.sns-login{
    width : 400px;
    margin: 0 auto;
    align-items: center;
    margin-top : 30px;
    border-top: 1px rgba(0, 0, 0, 0.2) solid;
    padding-top: 10px;
}


button.sns-button{
    font-family:'Pretendard JP',Pretendard,system-ui,Roboto,'Helvetica Neue','Segoe UI','Noto Sans KR','Malgun Gothic',sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
    width: 400px;
    height: 50px;
    border : none;
    outline: none;
    margin: 15px 0 0 0 ;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

div.button-text-wrap{
    align-items: center;
    display: flex;
    margin: 0 auto;
}

button.sns-button >div {
    width : fit-content;
    height: fit-content;
}

div.button-text-wrap> span {
    margin-left: 10px;
}

.eMailMsg , .pwMsg{
    margin : 0;
    color : rgb(243, 33, 59) ;
    text-Align : left;
    font-size: 12px;
}